__pycache__/
checkpoints/
datasets/
*.pth.tar
.idea/
models/debug*
models/flownet2*/networks/*/*egg-info
models/flownet2*/networks/*/build
models/flownet2*/networks/*/__pycache__
models/flownet2*/networks/*/dist
*.pyc
results/
build/
*.DS_Store

